{% extends 'hostel/basestu.html' %}

{% block body %}
	<div class="container">
		<h2 align="center">Hostels Details</h2>
		<table class="table">
			<thead>
				<tr>
					<th>NAME</th>
					<th>Warden</th>
					<th>PHONE</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Ch. Ranbir Singh Bhawan</td>
					<td>Dr. Suresh K.Drolia</td>
					<td>98138-53177</td>
				</tr>
				<tr>
					<td>Harsh Bhawan</td>
					<td>Dr. Darshan Singh</td>
					<td>9416550245</td>	
				</tr>
				<tr>
					<td>Partap Bhawan</td>
					<td>Sh. Dhirender Kaushik</td>
					<td>9416055522</td>
				</tr>
				<tr>
					<td>Dr. BR Ambedkar Bhawan</td>
					<td>Dr. Mukender S.Kadian</td>
					<td>98138-53177</td>
				</tr>
				<tr>
					<td>Narhari</td>
					<td>Dr. Naresh Kumar Vats</td>
					<td>98138-53177</td>
				</tr>
				<tr>
					<td>Tagor Bhawan</td>
					<td>Dr. Darshan Singh</td>
					<td>98138-53177</td>
				</tr>
				<tr>
					<td>Arjun Bhawan</td>
					<td>Dr. R.K. Singh</td>
					<td>9992416045</td>
				</tr>
				<tr>
					<td>Bheem Bhawan</td>
					<td>Dr. Jai Singh</td>
					<td>9813437781</td>
				</tr>
				<tr>
					<td>International hostel</td>
					<td>Dr. Mohinder Chand</td>
					<td>9466620957</td>
				</tr>
			</tbody>
		</table>
	</div>
	
{% endblock %}