{% extends 'hostel/basestu.html' %}
{% load static from staticfiles %}
{% block body %}

<div class="container jumbotron">
	<div class="row" align="center">
		<div class="col-md-4">
			<div class="thumbnail">
				 <img src="{% static 'hostel/images/partap.jpg' %}" >
				 <div class="caption cap">
				 	<p>Partap Bhawan</p>
				 </div>
			</div>
		 
		</div>
		<div class="col-md-4 ">
			<div class="thumbnail">
				 <img src="{% static 'hostel/images/hosh.jpg'  %}">
				 <div class="caption cap">
				 	<p> Girls Hostel </p>
				 </div>
			</div>
		</div>
		<div class="col-md-4 ">
			<div class="thumbnail">
				<img src="{% static 'hostel/images/gate2.jpg'  %}">
				<div class="caption cap">
					<p>3rd no. gate of the university </p>
				</div>
			</div>
		 </div>
	</div><br><br>

		<div class="row " align="center">
			<div class="col-md-4 ">
				<div class="thumbnail">
					<img src="{% static 'hostel/images/boys.jpg'  %}">
					<div class="caption cap ">
						<p>Boys Hostel </p>
					</div>
				</div>
			 </div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="{% static 'hostel/images/ambedkar.jpg'  %}">
					<div class="caption cap">
						<p>Dr. BR Ambedkar Bhawan </p>
					</div>
				</div>
			 </div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="{% static 'hostel/images/gate.jpg'  %}">
					<div class="caption cap">
						<p> 2nd gate of university </p>
					</div>
				</div>
			</div>
		</div><br><br>	

		<div class="row " align="center">
			<div class="col-md-4 ">
				<div class="thumbnail">
					<img src="{% static 'hostel/images/2.jpg'  %}">
					<div class="caption cap ">
						<p>Boys Hostel </p>
					</div>
				</div>
			 </div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="{% static 'hostel/images/front.jpg'  %}">
					<div class="caption cap">
						<p>Bheem Hostel </p>
					</div>
				</div>
			 </div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="{% static 'hostel/images/arjun.jpeg'  %}">
					<div class="caption cap">
						<p>Arjun Bhawan </p>
					</div>
				</div>
			</div>
		</div>	

</div>

{% endblock %}