{% extends 'hostel/basestu.html' %}
{% block body %}
<div class="container">
	<h1 align="center" >Girls Hostel</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Hostel Name</th>
				<th>Seats</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Saraswati Bhawan</td>
				<td>225</td>
			</tr>
			<tr>
				<td>Meera Bhawan</td>
				<td>229</td>
			</tr>
			<tr>
				<td>Kasturba Bhawan</td>
				<td>220</td>
			</tr>
			<tr>
				<td>Bharati Bhawan</td>
				<td>198</td>
			</tr>
			<tr>
				<td>Gargi Bhawan</td>
				<td>210</td>
			</tr>
			<tr>
				<td>Subhadra Bhawan</td>
				<td>207</td>
			</tr>
			<tr>
				<td>Ahilya Bhawan</td>
				<td>32</td>
			</tr>
			<tr>
				<td>Ganga Bhawan</td>
				<td>172</td>
			</tr>
			<tr>
				<td>Uttra Bhawan</td>
				<td>474</td>
			</tr>
			<tr>
				<td>Deviyani Bhawan</td>
				<td>502</td>
			</tr>
			<tr>
				<td>Kalpana Chawla Bhawan</td>
				<td>370</td>
			</tr>
			<tr>
				<td>Luxmi Bai Bhawan</td>
				<td>402</td>
			</tr>
			<tr>
				<td>Yamuna Bhawan</td>
				<td>206</td>
			</tr>
			<tr>
				<td>Total</td>
				<td>3447</td>
			</tr>
		</tbody>
	</table>
	
	<h1 align="center" >Boys Hostel</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Hostel Name</th>
				<th>Seats</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Arjun Bhawan</td>
				<td>159</td>
			</tr>
			<tr>
				<td>Dr. Ambedkar Bhawan</td>
				<td>94</td>
			</tr>
			<tr>
				<td>Bheem Bhawan</td>
				<td>288</td>
			</tr>
			<tr>
				<td>Harsh Bhawan</td>
				<td>357</td>
			</tr>
			<tr>
				<td>Narhari Bhawan</td>
				<td>328</td>
			</tr>
			<tr>
				<td>Pratap Bhawan</td>
				<td>353</td>
			</tr>
			<tr>
				<td>Tagore Bhawan</td>
				<td>179</td>
			</tr>
			<tr>
				<td>Ch. Devi Lal Bhawan</td>
				<td>241</td>
			</tr>
			<tr>
				<td>Ch. Ranbir Singh Bhawan</td>
				<td>287</td>
			</tr>
			<tr>
				<td>Swami Vivekanand Bhawan</td>
				<td>165</td>
			</tr>
			<tr>
				<td>Shaheed Bhagat Singh Bhawan</td>
				<td>602</td>
			</tr>
			<tr>
				<td>Total</td>
				<td>3053</td>
			</tr>
			
		</tbody>

	</table>
</div>
{% endblock %}